
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	font-family: 'Staatliches', cursive;
	-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in;
	-webkit-transition:  all 1s ease-in;
}

body{
	overflow: hidden;
}

img{
	height: 100px;
}

.len{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 30px;
	background: #375175;
	border-radius: 20px;
	display: flex;
	flex-direction: row;

}

.len > div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40px;
	height: 30px;
	cursor: pointer;
	font-family: 'Staatliches', cursive;
}


.active{
	width: 40px;
	height: 30px;
	background: #FFFFFF;
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);
	-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in;
	-webkit-transition:  all 1s ease-in;
	background: url('estados-unidos-de-america.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.español{
	background: url('espana.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ingles{
	background: url('estados-unidos-de-america.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.container{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 650px;
	background-image: url('montaña.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-flex;
	-moz-transition: all 1s ease-out; 
	transition: all 1s ease-out; 
	-o-transition:  all 1s ease-out;
	-webkit-transition:  all 1s ease-out;
}


/* Header */

header{
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 2;
	color: #ffffff;	
	 box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}



#l_home{
	transform: translateY(-100%);
	-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in; 
	-webkit-transition: all 1s ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 50px;
	border-radius: 10px;


	

}
#l_about{
	transform: translateY(-200%);
	-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in; 
	-webkit-transition: all 1s ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 50px;

}
#l_skill{
	transform: translateY(-300%);
		-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in; 
	-webkit-transition: all 1s ease-in;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 50px;
	
}	
#l_contact{
	transform: translateY(-400%);
	-moz-transition: all 1s ease-in; 
	transition: all 1s ease-in; 
	-o-transition:  all 1s ease-in; 
	-webkit-transition: all 1s ease-in;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 50px;

}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 50px;
	
}

li{
	list-style: none;

}

a{
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Staatliches', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
 }




/* Header */

/* Home */

#home{
	width: 100%;
	height: 100%;	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	text-align: center;
	transform: translateX(0);
	transition: all 1s ease-out;

}


.titulo{
	color: #FFFFFF;
/* 	transform: translateY(-600%); */
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	font-weight: bold;
	transition: all 1s;
	letter-spacing: 5px;

}

.title{
	font-size: 90px;
	font-weight: bold;
	font-family: 'Staatliches', cursive;
	letter-spacing: 15px;
}

.a-title{
	font-size: 70px;
	font-family: 'Staatliches', cursive;
	color: #DCD4D4;
	transition: all ease-out 0.5s;
}


/* About */

#abourclo{
	width: 100%;
	height: 100%;
	position: absolute;
	backdrop-filter: blur(6px);
	transform: translateX(100%);
	transition: all 1s ease-out;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	text-align: center;
}


#img-about{
	height: 300px;
	border-radius: 50%;
}


h2{
	font-size: 100px;
	letter-spacing: 10px;
}

.about-d > p {
	font-size: 20px;
	font-weight: 200,
}

/* Skill */


#skill{
	width: 100%;
	height: 100%;
	position: absolute;
	backdrop-filter: blur(6px);
	transform: translateX(200%);
	transition: all 1s ease-out; 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	text-align: center;

}

h4{
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 80px;
	font-family: 'Staatliches', cursive;
}

.skill-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.skill-cont > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 20px;	
}

h5{
	font-size: 30px;
	margin: 20px;
	letter-spacing: 5px;

}

.photo-skill{
	height: 150px;
}

#react{
	animation-name: react;
	animation: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: alternate-reverse;	
	transition: all ease-out 1s;
}


.javsc{
	color: #E3E15B;
}



/* Skill */

/* Contact */

#contact{
	width: 100%;
	height: 100%;
	position: absolute;
	backdrop-filter: blur(6px);
	transform: translateX(200%);
	transition: all 1s ease-out;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	text-align: center;


}

.contact-med{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}


h6{
	font-size: 50px;
	font-weight: bold;
	color: #000000;
	font-family: 'Staatliches', cursive;

}

.media{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.media > div{
	margin: 0 20px;
}

.con-media{
	width: 120px;
	height: 120px;
	border-radius: 30px;
	transition-property: background;
	transition: all ease-out 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

i{
	font-size: 90px;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out; 
	color: #000000;
}

.con-media:hover{
	background: rgba(212,187,23,1);
	background: -moz-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212,187,23,1)), color-stop(4%, rgba(212,187,23,1)), color-stop(14%, rgba(199,91,20,1)), color-stop(26%, rgba(189,61,52,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(68%, rgba(104,0,145,1)), color-stop(99%, rgba(68,60,176,1)), color-stop(100%, rgba(68,60,176,1)));
	background: -webkit-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -o-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4bb17', endColorstr='#443cb0', GradientType=1 );;
 	 }
i:hover{
	color: #ffffff;
	font-size: 110px;
}

.con-media:nth-child(2):hover{
	background:  #19F338;

}

.con-media:nth-child(3):hover{
	background:  #000000;

}
.con-media:nth-child(4):hover{
	background:  #155EB0;
}


.form{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: center;
 	text-align: center;
 }

 input{
 	margin: 10px;
 	width: 300px;
 	height: 30px;
 	border-radius: 10px;
 	font-family:'Lora',sans-serif;
 	color: #000000;
 }

 textarea{
 	width: 300px;
 	height: 200px;
 	margin: 10px;
 	border-radius: 10px;
 	font-family:'Lora',sans-serif;
 	color: #000000;

 }

 .send{
 	margin: 10px;
 	width: 300px;
 	height: 40px;
 	background-color: #249EF4;
	border-radius: 30px;
	border: none;
	color: #000000;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out; 
	font-family:'Lora',sans-serif;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
 }

 .send:hover{
 		background-color: #1E4663;

 }

/* Contact */
