
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Lora',sans-serif;
	color: #FFFFFF;
	font-family: 'Staatliches', cursive;
	
}

body{
/* 	overflow: hidden; */
	
}

.container{
	height: 650px;
	background-image: url('montanas-minimalista-arte-low-poly_3840x2160_xtrafondos.com.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

html{
	scroll-behavior:smooth;
}


header{
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	color: #ffffff;	
	background: #050201;
	background: -moz-linear-gradient(top, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
	background: -webkit-linear-gradient(top, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
	background: linear-gradient(to bottom, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
}

.home{
	position: relative;
	top: 50px;
	margin: 0;
	width: 100%;
	height: 600px;	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	background-image: url('montanas-minimalista-arte-low-poly_3840x2160_xtrafondos.com.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateY(0);
	transition: all ease-in 2.5s;
	z-index: 1;


}

/* .effect{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.55);
} */

.flecha{
	width: 100px;
	height: 100px;
	transition: all 1s;
	transform: translateY(600%);
	box-sizing: border-box;	
}

.flec{
	width: 100%;
	height: 100%;
	transition: all 1s;
	animation-name: arrow;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}


.linea1{
	transform: rotate(45deg) translateX(20px);
	width: 70px;
	height: 20px;
	background: #FFFFFF;
	transition: ease-out 0.5s;

}

.linea2{
	transform: rotate(-45deg) translateX(-20px);
	width: 70px;
	height: 20px;
	background: #FFFFFF;
	transition: ease-out 0.5s;
}




@keyframes arrow {
	0%{ 
		
		transform: translateY(0px);

	}
	100%{
		
		transform: translateY(10px);
	}
}



.titulo{
	color: #FFFFFF;
	transform: translateY(-600%);
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	font-weight: bold;
	transition: all 1s;
	letter-spacing: 5px;

}

.title{
	font-size: 90px;
	font-weight: bold;
	font-family: 'Staatliches', cursive;
	letter-spacing: 15px;
}

.a-title{
	font-size: 70px;
	font-family: 'Staatliches', cursive;
	color: #DCD4D4;
	transition: all ease-out 0.5s;
}


/* Main contain */

.container{

	/* display: none; */
}


img{
	height: 100px;
	margin: 10px;
}

hr{
	background-color: white;
	width: 100%;
	 }

a img{
	width: 100px;
	height: 100px; 
}



h1{
	font-size: 50px;
	letter-spacing: 10px;
	margin: 0 5px;
	font-family: 'Staatliches', cursive;


}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
}

li{
	list-style: none;
	margin: 0 10px;
	transition: all ease-out 0.5s;
	
	
}

a{
	text-decoration: none;
	color: #FFFFFF;
	font-family:'Lora',sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
 }

li:hover{
	font-size: 20px;


}

.burger{
	display: none;
}

section{
	height: 650px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.about{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #050201;
	background: -moz-linear-gradient(top, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
	background: -webkit-linear-gradient(top, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
	background: linear-gradient(to bottom, #050201 0%, #1C6EA4 73%, #7DD4CE 100%);
}

.about-d{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

h2{
	font-size: 100px;
	
}

.about-d > p {
	font-size: 20px;
}


.skill{
	display: flex;
	flex-direction: column;
	background: #376473;
	/* border: 2px solid #949E5D; 
	box-shadow: 20px; */
	

}

h4{
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 80px;
	font-family: 'Staatliches', cursive;
}

/* Skills */


.skill-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.skill-cont > div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

h5{
	font-size: 50px;
}

.photo-skill{
	height: 250px;
}

/* Contact */

.contact{
	height: 650px;
	display: flex;
 	flex-direction: column;
 	justify-content:  space-between;
 	align-items: center;
 	text-align: center;
	/* background: url('back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
}

h6{
	font-size: 50px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'Cabin Sketch', cursive;

}

.media{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.media > div{
	margin: 0 20px;
}

.con-media{
	width: 120px;
	height: 120px;
	border-radius: 30px;
	transition-property: background;
	transition: all ease-out 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

i{
	font-size: 90px;
	transition: all ease-out 0.5s;
	color: #000000;
}

.con-media:hover{
	background: rgba(212,187,23,1);
	background: -moz-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212,187,23,1)), color-stop(4%, rgba(212,187,23,1)), color-stop(14%, rgba(199,91,20,1)), color-stop(26%, rgba(189,61,52,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(68%, rgba(104,0,145,1)), color-stop(99%, rgba(68,60,176,1)), color-stop(100%, rgba(68,60,176,1)));
	background: -webkit-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -o-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	background: linear-gradient(45deg, rgba(212,187,23,1) 0%, rgba(212,187,23,1) 4%, rgba(199,91,20,1) 14%, rgba(189,61,52,1) 26%, rgba(168,0,119,1) 51%, rgba(104,0,145,1) 68%, rgba(68,60,176,1) 99%, rgba(68,60,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4bb17', endColorstr='#443cb0', GradientType=1 );;
 	 }
i:hover{
	color: #ffffff;
	font-size: 110px;
}

.con-media:nth-child(2):hover{
	background:  #19F338;

}

.con-media:nth-child(3):hover{
	background:  #000000;

}
.con-media:nth-child(4):hover{
	background:  #155EB0;
}


.form{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: center;
 	text-align: center;
 }

 input{
 	margin: 10px;
 	width: 300px;
 	height: 30px;
 	border-radius: 10px;
 	font-family:'Lora',sans-serif;
 }

 textarea{
 	width: 300px;
 	height: 200px;
 	margin: 10px;
 	border-radius: 10px;
 	font-family:'Lora',sans-serif;

 }

 button{
 	margin: 10px;
 	width: 300px;
 	height: 40px;
 	background-color: #249EF4;
	border-radius: 30px;
	border: none;
	color: #FFFFFF;
	transition: ease-out 1s;
	font-family:'Lora',sans-serif;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
 }

 button:hover{
 		background-color: #1E4663;

 }